In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('walkrun.csv')

In [3]:
df.head()

,date,time,username,wrist,activity,acceleration_x,acceleration_y,acceleration_z,gyro_x,gyro_y,gyro_z
0,2017-6-30,13:51:15:847724020,viktor,0,0,0.2650,-0.7814,-0.0076,-0.0590,0.0325,-2.9296
1,2017-6-30,13:51:16:246945023,viktor,0,0,0.6722,-1.1233,-0.2344,-0.1757,0.0208,0.1269
2,2017-6-30,13:51:16:446233987,viktor,0,0,0.4399,-1.4817,0.0722,-0.9105,0.1063,-2.4367
3,2017-6-30,13:51:16:646117985,viktor,0,0,0.3031,-0.8125,0.0888,0.1199,-0.4099,-2.9336
4,2017-6-30,13:51:16:846738994,viktor,0,0,0.4814,-0.9312,0.0359,0.0527,0.4379,2.4922

In [4]:
set(df.date)

{'2017-6-30',
 '2017-7-1',
 '2017-7-10',
 '2017-7-11',
 '2017-7-15',
 '2017-7-16',
 '2017-7-17',
 '2017-7-2',
 '2017-7-4',
 '2017-7-6',
 '2017-7-7',
 '2017-7-9'}

In [5]:
df.time.unique()

array(['13:51:15:847724020', '13:51:16:246945023', '13:51:16:446233987',
       ..., '20:9:15:717828989', '20:9:15:917932987', '20:9:16:117410004'],
      dtype=object)

In [6]:
set(df.username)

{'viktor'}

In [7]:
set(df.wrist
)

{0, 1}

In [8]:
set(df.activity)

{0, 1}

In [9]:
df.isnull().sum()

date              0
time              0
username          0
wrist             0
activity          0
acceleration_x    0
acceleration_y    0
acceleration_z    0
gyro_x            0
gyro_y            0
gyro_z            0
dtype: int64

In [10]:
df.describe()

,wrist,activity,acceleration_x,acceleration_y,acceleration_z,gyro_x,gyro_y,gyro_z
count,88588.000000,88588.000000,88588.000000,88588.000000,88588.000000,88588.000000,88588.000000,88588.000000
mean,0.522170,0.500801,-0.074811,-0.562585,-0.313956,0.004160,0.037203,0.022327
std,0.499511,0.500002,1.009299,0.658458,0.486815,1.253423,1.198725,1.914423
min,0.000000,0.000000,-5.350500,-3.299000,-3.753800,-4.430600,-7.464700,-9.480000
25%,0.000000,0.000000,-0.381800,-1.033500,-0.376000,-0.920700,-0.644825,-1.345125
50%,1.000000,1.000000,-0.059500,-0.759100,-0.221000,0.018700,0.039300,0.006900
75%,1.000000,1.000000,0.355500,-0.241775,-0.085900,0.888800,0.733700,1.398200
max,1.000000,1.000000,5.603300,2.668000,1.640300,4.874200,8.498000,11.266200

In [11]:
j=df.drop(columns ='activity')

In [12]:
df.columns

Index(['date', 'time', 'username', 'wrist', 'activity', 'acceleration_x',
       'acceleration_y', 'acceleration_z', 'gyro_x', 'gyro_y', 'gyro_z'],
      dtype='object')

In [13]:
X=j.iloc[:,3:]
y=df.activity

In [14]:
X.head()

,wrist,acceleration_x,acceleration_y,acceleration_z,gyro_x,gyro_y,gyro_z
0,0,0.2650,-0.7814,-0.0076,-0.0590,0.0325,-2.9296
1,0,0.6722,-1.1233,-0.2344,-0.1757,0.0208,0.1269
2,0,0.4399,-1.4817,0.0722,-0.9105,0.1063,-2.4367
3,0,0.3031,-0.8125,0.0888,0.1199,-0.4099,-2.9336
4,0,0.4814,-0.9312,0.0359,0.0527,0.4379,2.4922

In [15]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=20)

In [16]:
from sklearn.ensemble import RandomForestClassifier
model=RandomForestClassifier()
model

RandomForestClassifier()

In [17]:
m=model.fit(X_train,y_train)

In [18]:
y_predict=model.predict(X_test)

In [19]:
from sklearn.metrics import confusion_matrix,accuracy_score
accuracy_score(y_predict,y_test)

0.9913082740715656

In [20]:
confusion_matrix(y_predict,y_test)

array([[13193,   114],
       [  117, 13153]], dtype=int64)